<!doctype html>
<html ng-app="controller">
	<head>
		<title>Hello AngularJS</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    	<script src="controller.js"></script>
	</head>

	<body ng-controller="Controller">

		<div>
			<p>The ID is {{greeting.id}}</p>
			<p>The content is {{greeting.content}}</p>
		</div>
		<form name="myForm">
			<label>
				<input type="radio" ng-model="color.name" value="FPS">
				First-Person Shooter
			</label><br/>
			<label>
				<input type="radio" ng-model="color.name" value="TPA">
				Third-Person Action
			</label><br/>
			<label>
				<input type="radio" ng-model="color.name" value="Survival_Horror">
				Survival Horror
			</label><br/>
			<label>
				<input type="radio" ng-model="color.name" value="RPG">
				Role-Playing Game
			</label><br/>
			<label>
				<input type="radio" ng-model="color.name" value="Story">
				Story-Driven Game
			</label><br/>
			<label>
				<input type="radio" ng-model="color.name" value="Other">
				Other (What doesn't fit in previous genres)
			</label><br/>
			<tt>color = {{color.name | json}}</tt><br/>
		</form>
	</body>
</html>
