<!doctype html>
<html ng-app="controller">
	<head>
		<title>Game Informer</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    	<script src="controller.js"></script>
	</head>

	<body ng-controller="Controller">

	<div align="center">
		<h3>Game Informer</h3>
		<form name="myForm">
			<table>
				<tr>
					<td>
			<label>
				<input type="radio" ng-model="color.name" value="FPS">
				First-Person Shooter
			</label><br/>
			<label>
				<input type="radio" ng-model="color.name" value="TPA">
				Third-Person Action
			</label><br/>
			<label>
				<input type="radio" ng-model="color.name" value="SURVIVAL_HORROR">
				Survival Horror
			</label><br/>
			<label>
				<input type="radio" ng-model="color.name" value="RPG">
				Role-Playing Game
			</label><br/>
			<label>
				<input type="radio" ng-model="color.name" value="Adventure">
				Action-Adventure
			</label><br/>
			<label>
				<input type="radio" ng-model="color.name" value="STORY">
				Story-Driven Game
			</label><br/>
			<label>
				<input type="radio" ng-model="color.name" value="OTHER">
				Other (What doesn't fit in previous genres)
			</label><br/>
					</td>
				</tr>
			</table>
			<!--<tt>color = {{color.name | json}}</tt><br/>-->
			<button ng-click="select()" ng-disabled="isDisabled()">
				Show
			</button>

			<table border="2px" ng-show="list.length != 0">
				<tr>
					<td align="center"><b>Game</b></td>
					<td align="center"><b>Year of release</b></td>
					<td align="center"><b>Developer</b></td>
					<td align="center"><b>Publisher</b></td>
					<td align="center"><b>Link</b></td>
				</tr>
				<tr ng-repeat="item in list">
					<td>{{ item.name }}</td>
					<td>{{ item.yearOfRelease }}</td>
					<td>{{ item.developer }}</td>
					<td>{{ item.publisher }}</td>
					<td><a target="_blank" href="/download/{{ item.id }}">Get game card</a></td>
				</tr>
			</table>
			</form>
	</div>
	</body>
</html>
