<!doctype html>
<html ng-app="controller">
	<head>
		<title>Hello AngularJS</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    	<script src="controller.js"></script>
	</head>

	<body ng-controller="Controller">

		<div>
			<p>The ID is {{greeting.id}}</p>
			<p>The content is {{greeting.content}}</p>
		</div>
		<form name="myForm">
			<label>
				<input type="radio" ng-model="color.name" value="FPS">
				First-Person Shooter
			</label><br/>
			<label>
				<input type="radio" ng-model="color.name" value="TPA">
				Third-Person Action
			</label><br/>
			<label>
				<input type="radio" ng-model="color.name" value="SURVIVAL_HORROR">
				Survival Horror
			</label><br/>
			<label>
				<input type="radio" ng-model="color.name" value="RPG">
				Role-Playing Game
			</label><br/>
			<label>
				<input type="radio" ng-model="color.name" value="STORY">
				Story-Driven Game
			</label><br/>
			<label>
				<input type="radio" ng-model="color.name" value="OTHER">
				Other (What doesn't fit in previous genres)
			</label><br/>
			<!--<tt>color = {{color.name | json}}</tt><br/>-->
			<button ng-click="select()" ng-disabled="isDisabled()">
				Show
			</button>

			<table>
				<tr>
					<td>Game</td>
					<td>Year of release</td>
					<td>Developer</td>
					<td>Publisher</td>
				</tr>
				<tr ng-repeat="item in list">
					<td>{{ item.name }}</td>
					<td>{{ item.yearOfRelease }}</td>
					<td>{{ item.developer }}</td>
					<td>{{ item.publisher }}</td>
				</tr>
			</table>
			</form>
	</body>
</html>
